        <script src="./js/sidebar.js"></script> 

        <footer>
            
        <p id="copyRight">Brought to you by S.C.E.S. a CSUMB group. 2019&copy;</p>
        </footer>
    </body>
</html>