<!DOCTYPE html>
<html lang="en">
        <meta charset="UTF-8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="./js/functions.js"></script>	
        <script src="./js/reportTools.js"></script>

        
        <link rel="stylesheet" href="/css/styles.css"/>
    
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    	<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    </head>
    <h1 id="brand">
      <span class="brandName">We Laced It!</span>
      <span class="subName"> a shoe company</span>
    </h1>
    
    <nav class="navbar navbar-expand-lg navbar-default">
  
         <a class="navbar-brand" href="./">
            <img src="/img/logo.png">
        </a>

            <a class="adminNavBtn" href="/admin">Admin Main</a>  
			<a class="adminNavBtn" href="/users/add">Add New Item</a>  
			<a class="adminNavBtn" href="/users">Item List</a> 
			<a class="adminNavBtn" href="/reports">Report Valuations</a> 
    </nav>

		<h1>Inventory Management</h1>
