<form>
<div id="productImage"></div>
<div id="model"></div>
<div id="color"></div>
<div id="type"></div>
<div id="sizeAndGender"></div>
<div id="descriptionShort"></div>
<div id="descriptionLong"></div>
<div id="price"></div>
<div id="quantityOnHand"></div>
<div id="productQuantity"></div>
<div id="addToCartBtn"></div>
</form>
