

<div id="productImage"></div>
<div id="model"></div>
<div id="description"></div>
<div id="price"></div>
<div id="slider"></div>
<div id="quantity>"></div>
<button id='btn-add' class='btn btn-primary' type='button'>(Test)Add to Cart</button>
</form>
