<nav id="sidebar">
      <h2>Shopping Cart</h2>
        <!--Shopping Carts contents go here -->
        <p id="amountInCart"></p>
        <p id="productInCart"></p>

        
    	  <!-- Button --> 
        <div id="checkoutBtn"></div>
    </nav>