<h3>(Product name here)</h3>
<img src="/img/testShoe.jpg">
<h4>(Atributes here)</h4>
<p>(Cost here)</p>
<form>
      <button id="btn-add" class="btn btn-outline-primary" type="submit">Add to Cart</button>
</form>