<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Inventory Management</title>
        <script src="./js/reportTools.js"></script>
        <% include partials/header_admin.ejs %>

<form action="/logout">
    <button>Log Out</button>
</form>
<% include partials/footer_admin.ejs %>
