<!DOCTYPE html>
<!--
  Final Project for CST 336 Internet Programming
  Team:
  Austin Ah Loo
  Mikie Reed
  Mitchell Saunders
  Nick Saunders
 -->
<html lang="en">
  <head>
    <title>Home</title>
  <% include partials/head.ejs %>
  <% include partials/nav.ejs %>


  <div class="wrapper">
  <!-- Sidebar Holder -->
    <nav id="sidebar">
      <h2>Shopping Cart</h2>
        <!--Shopping Carts contents go here -->
        <p id="productInCart"></p>
        <p>Qty:<span id="quantity"></span></p>
        <span>Size: <span id="shoeSize"> </span>
        
        
    	  <!-- Button --> 
        <form action="./cart.html">
          <button class="btn btn-success" type="submit">Checkout</button>
        </form>
    </nav>
    <!-- Page Content Holder -->
      <div id="content">
        <nav class="navbar navbar-expand-sm navbar-default">
          <div class="container-fluid">
            <button type="button" id="sidebarCollapse" class="navbar-btn" > 
              <span></span>
              <span></span>
              <span></span>
             </button>
         </div>
         <div class="container-fluid">
             <label>Men 
               <input id="genderM" name="genderM" value="M" type="checkbox" checked="checked">
               <span class="checkmark"></span>
             </label>
             <label>Women
               <input id="genderW" name="genderW" value="W" type="checkbox" checked="checked">
               <span class="checkmark"></span>
             </label>
             
             <select id="shoeColor">
                <option value="">All Colors</option>
                <option value="BK">Black</option>
                <option value="BL">Blue</option>
                <option value="RD">Red</option>
                <option value="GN">Green</option>
                <option value="RD">Red</option>
                <option value="WH">White</option>

              </select>
              
              <select id="shoeStyle">
                <option value="-1">All Styles</option>
                <option value="0">Lifters</option>
                <option value="1">Runners</option>
                <option value="2">Trainers</option>
              </select>
             <button id="searchBtnMain">Search</button>

          </div>
      </nav>

      <!-- Page Contents-->
      <!-- place holder-->
          <div class="row">

            <div id="product" class="container"><% include partials/product.ejs %></div>
          </div><!-- end of row -->
        </div><!-- end of content -->
    </div> <!-- end of wrapper -->
  
<% include partials/footer.ejs %>
