<!DOCTYPE html>
<!--
  Final Project for CST 336 Internet Programming
  Team:
  Austin Ah Loo
  Mikie Reed
  Mitchell Saunders
  Nick Saunders
 -->
<html lang="en">
  <head>
    <title>Login</title>
  <% include partials/head.ejs %>
  <% include partials/nav.ejs %>


 <!-- Sign in form-->
	<div id="signInForm" class="col-md-6 container"> 
		  <div class="panel-title"> Sign In</div> 

			 <!-- Error, displays on screen --> 
       <div id="login-alert" class="alert alert-danger col-sm-12 login-alert">	</div> 
				
					<form id="loginform" class="form-horizontal" role="form">
						<div> 
							<label class="control-label">Email</label>
							<input id="login-username" type="text" class="form-control" name="username" value="" placeholder="Email Address"> 

						 	<label class="control-label">Password</label> 
							<input id="login-password" type="password" class="form-control" name="password" placeholder="Password"> 

							<input id="login-remember" type="checkbox" name="remember" value="1"> Remember me 
						</div> 
    
    				 <!-- Button --> 
						 <div class="col-sm-12"> 
						   <a id="btn-login" href="#" class="btn btn-block btn-outline-success">Login </a>
						 </div>
	 					 
					</form>
				</div> 

<% include partials/footer.ejs %>
