<!DOCTYPE html>
<!--
  Final Project for CST 336 Internet Programming
  Team:
  Austin Ah Loo
  Mikie Reed
  Mitchell Saunders
  Nick Saunders
 -->
<html lang="en">
  <head>
    <title>Login</title>
  <% include partials/head.ejs %>
  <% include partials/nav.ejs %>


 <!-- Sign in form-->
	<div id="signInForm" class="col-md-6 container"> 
		  <div class="panel-title"> Sign In</div> 

			 <!-- Error, displays on screen --> 
       <div id="login-alert" class="alert alert-danger col-sm-12 login-alert">	</div> 
				
					<form id="loginform" class="form-horizontal" role="form">
						<div> 
							<label class="control-label">Email</label>
							<input id="login-username" type="text" class="form-control" name="username" value="" placeholder="Email Address"> 

						 	<label class="control-label">Password</label> 
							<input id="login-password" type="password" class="form-control" name="password" placeholder="Password"> 

							<input id="login-remember" type="checkbox" name="remember" value="1"> Remember me 
						</div> 
    
    				 <!-- Button --> 
						 <div class="col-sm-12"> 
						   <a id="btn-login" href="#" class="btn btn-block btn-outline-success">Login </a>
						 </div>
	 					 
	 					 <!-- CheckBox -->
						 <div class="forgot-password"> <a href="./forgotPasswd.html">Forgot password?</a></div> 
					</form>
				</div> 

 <!-- Sign up form-->

		<div id="signUpForm" class="col-md-6 container"> 

				<div class="panel-title"> Sign Up </div> 

				<form id="signupform"> 

				 <!-- Error, displays on screen --> 
					<div id="signupalert" class="alert alert-danger login-alert"> 
						<p> Error: </p> 
					</div>
					
						<label for="email" class="control-label">Email</label>
					 	<input type="text" class="form-control" name="email" placeholder="Email Address"> 

					 	<label for="firstname" class="control-label">First Name</label> 
					 	<input type="text" class="form-control" name="firstname" placeholder="First Name"> 

					 	<label for="lastname" class="control-label">Last Name</label> 
					 	<input type="text" class="form-control" name="lastname" placeholder="Last Name"> 

					 	<label for="password" class="control-label">Password</label> 
					 	<input type="password" class="form-control" name="passwd" placeholder="Password"> 

					 <!-- Button --> 
					 		<button id="btn-signup" type="button" class="btn btn-block btn-outline-info">Sign Up </button>
				</form> 
	</div> 
<% include partials/endScripts.ejs %>
<% include partials/footer.ejs %>
