<!DOCTYPE html>
<!--
  Final Project for CST 336 Internet Programming
  Team:
  Austin Ah Loo
  Mikie Reed
  Mitchell Saunders
  Nick Saunders
 -->
<html lang="en">

  <head>
    <title>Cart</title>
    <script type="text/Javascript" src="./js/ordered.js"></script>
    <% include partials/head.ejs %>
      <% include partials/nav.ejs %>
  </head>
  <h2 id="noticeShip">Order Placed</h2>
  <div id="personalThankYou">
    <h3>Thank you for your order
      <%=name %>!!!
    </h3>
    <p class=deliveryDescription>We will be shipping your parts to
      <%= address %>
    </p>

  </div>

  <% include partials/footer.ejs %>
