<!DOCTYPE html>
<!--
  Final Project for CST 336 Internet Programming
  Team:
  Austin Ah Loo
  Mikie Reed
  Mitchell Saunders
  Nick Saunders
 -->
<html lang="en">

  <head>
    <title>Cart</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script type="text/Javascript" src="./js/ordered.js"></script>
    <% include partials/head.ejs %>
      <% include partials/nav.ejs %>
        <link href="./css/ordered.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <main>
      <h2 id="noticeShip">Order Placed</h2>
      <div id="personalThankYou">
        <h3>Thank you for your order
          <%=name %>!!!
        </h3>
        <p class=deliveryDescription>We will be shipping your parts to
          <span id='zipToShip'><%= zipCode %></span>
        </p>
        <p id=shippingTime>
        </p>

      </div>
    </main>
    <% include partials/footer.ejs %>
