<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Login Screen</title>
        <% include partials/head.ejs %>
        <% include partials/nav.ejs %>
        
        <h1>
            Welcome to the Jungle!
        </h1>
        <form action="/logout">
            <button>
                Log Out
            </button>
        </form>
    <% include partials/footer.ejs %>