<!--
including header content which is common for all pages
-->
<% include ../partials/header_admin.ejs %>

<% if (messages.error) { %>
	<p style="color:red"><%- messages.error %></p>
<% } %>

<% if (messages.success) { %>
	<p style="color:green"><%- messages.success %></p>
<% } %>	

<table width='80%' border=0>

	<tr style='text-align:left; background-color:#CCC'>
		<th>Inventory Value</th>
		<th>Amount($)</th>
	</tr>
	
	
	<% if (data) { %>
	<% data.forEach(function(user){ %>
		<tr>
			<td>Total</td>
            <td><%= user.inventory_value %></td>
			
		</tr>
	<% }) %>
	<% } %>

</table>

<!--
including footer content which is common for all pages
-->
<% include ../partials/footer_admin.ejs %>
